/* Enter */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* Leave */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}



.partial.ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.partial.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }